.header 
  padding: 36px 0
  
  +max-w($mobile-lg)
    background: #fff

.header__wrapper
  display: flex
  align-items: center

  +max-w($mobile-lg)
    flex-direction: column
    justify-content: space-between


.header__inner 
  display: flex
  align-items: center

  +max-w($mobile-lg)
    justify-content: space-between
    width: 100%

.header__logo 
  margin-right: 150px
  padding-top: 5px

  +max-w($mobile-lg)
    margin-right: 100px

  +max-w($mobile-lg)
    margin-right: 30px
  
.nav

  +max-w($mobile-lg)
    display: none
    padding-top: 35px

  +max-w($mobile-sm)
    margin: 0

.nav__list 
  display: flex
  align-items: center
  margin: 0
  padding: 0
  
  +max-w($mobile-lg)
    display: flex
    flex-direction: column
    align-items: center

  +max-w($mobile-md)
    left: 108px

  +max-w($mobile-xs)
    left: 95px
    
.nav__item 
  margin-right: 50px
  font-weight: $font-weight-semi-bold
  letter-spacing: 0.2px
  list-style-type: none

  +max-w($mobile-lg)
    margin-right: 0
    margin-bottom: 30px
    font-size: 30px
    line-height: 1.5

.nav__item:last-child 
  margin-right: 0

.nav__link 
  color: $color-second
  text-decoration: none

  +max-w($mobile-lg)
    font-weight: 400

.header__buttons
  display: flex
  align-items: center

.header__search 
  display: none

.header__basket 
  display: none

// .header__burger 
//   display: none

.header__burger
  display: none

  +max-w($mobile-lg)
    position: relative
    display: block
    width: 24px
    height: 12px

.header__burger-item
  position: absolute
  width: 24px
  height: 2px
  background-color: #737373
  top: 0
  right: 0
  transition: transform .3s, top .3s, right .3s 

  &::after
    position: absolute
    content: ""
    display: block
    width: 18px
    height: 2px
    top: 6px
    right: 0
    background-color: #737373
    transition: transform .3s, top .3s, right .3s, width .3s 

  &::before
    position: absolute
    content: ""
    display: block
    width: 12px
    height: 2px
    top: 12px
    right: 0
    background-color: #737373

  &--open
    width: 24px
    height: 2px
    background-color: #737373
    top: 5px
    right: -1px
    transform: rotate(45deg)

    &::after
      width: 24px
      height: 2px
      top: 0px
      right: 0
      background-color: #737373
      transform: rotate(-90deg)

    &::before
      display: none

  // +max-w($mobile-lg)
  //   position: static
  //   display: block
  //   background-color: transparent
  //   border: none

.header__basket
  +max-w($mobile-lg)
    margin-right: 20px
    display: block
    border: none
    background: transparent
    cursor: pointer

.header__search
  +max-w($mobile-lg)
    display: block
    margin-right: 12px
    border: none
    background-color: transparent
