header.header.wow.fadeInUp.header--mobile
  .container
    .header__inner
      a.header__logo.logo(href="#")
        img(src="images/indicorp/logo.svg", alt="Logo", class="logo__img")
      nav.nav.js__open--nav
        ul.nav__list
          li.nav__item  
            a.nav__link(href="#") Home
          li.nav__item
            a.nav__link(href="#") Product
          li.nav__item
            a.nav__link(href="#") Pricing
          li.nav__item
            a.nav__link(href="#") Contact
      button.header__search(type="button")
        img.header__search-img(src="images/indicorp/search-btn.svg", alt="Search")
      button.header__basket(type="button")
        img.header__basket-img(src="images/indicorp/basket.svg", alt="Basket")
      button.header__burger.js--burger(type="button")
        img.header__burger-img(src="images/indicorp/navbar-toggler.svg", alt="Burger")
        