section.touch
  .container
    .touch__header.wow.flipInX(data-wow-delay="0.5s")
      h2.touch__title.touch__title--second Get In Touch
      p.touch__text
        | Problems trying to resolve the conflict between
        | the&nbsp;two&nbsp;major&nbsp;realms of Classical physics:
        | Newtonian mechanics
    .touch__cards.wow.flipInX(data-wow-delay="0.5s")
      .touch__card
        img.touch__card-img(src="images/indicorp/phone.svg", alt="Phone")
        a.touch__card-email(href="mailto:georgia.young@example.com")
          | georgia.young@example.com
        a.touch__card-email(href="mailto:georgia.young@ple.com")
          | georgia.young@ple.com
        h5.touch__card-title Get Support
        a.button.touch__button--orange(href="#") 
          | Submit Request
      .touch__card.touch__card--center
        img.touch__card-img(src="images/indicorp/label.svg", alt="Label")
        a.touch__card-email(href="mailto:georgia.young@example.com")
          | georgia.young@example.com
        a.touch__card-email(href="mailto:georgia.young@ple.com")
          | georgia.young@ple.com
        h5.touch__card-title Get Support
        a.button.touch__button--transparent(href="#") 
          | Submit Request 
      .touch__card
        img.touch__card-img(src="images/indicorp/letter.svg", alt="Letter")
        a.touch__card-email(href="mailto:georgia.young@example.com")
          | georgia.young@example.com
        a.touch__card-email(href="mailto:georgia.young@ple.com")
          | georgia.young@ple.com
        h5.touch__card-title Get Support
        a.button.touch__button--orange(href="#") 
          | Submit Request 