section.service
  .container 
    .service__header.wow.slideInDown(data-wow-delay="0.5s")
      h2.service__title.title
        | We are providing best business service.
      h2.service__title.title.service__title--mobile
        | We take care customers our all expert here.
      p.service__text.text
        | Problems trying to resolve the conflict between
        | the two major realms of Classical
        | physics: Newtonian mechanics
    .service__content.wow.slideInUp(data-wow-delay="0.5s")
      .service__video
        .service__video-inner
          #player.service__video-box
          img.service__poster(src="images/indicorp/poster-video.jpg", alt="Poster")
          button.service__button-play.js-button-play(type='button')
            img.service__play-img(src="images/indicorp/play.svg", alt="Play")
      .service__content-box
        h2.service__content-title.title
          | Most trusted in our field
        p.service__content-text.text
          | Most calendars are designed for teams. Slate is designed for
          | freelancers who want a simple way to plan their schedule.
        .service__item 
          img.service__content-img(src="images/indicorp/people-fox.svg", alt="People")
          .service__wrapper
            h5.service__item-title the quick fox jumps over the lazy dog
            p.service__item-text Things on a very small scale ...
        .service__item 
          img.service__content-img(src="images/indicorp/speed-fox.svg", alt="Speed Fox")
          .service__wrapper
            h5.service__item-title the quick fox jumps over the lazy dog
            p.service__item-text Things on a very small scale ...