section.service
  .container 
    .service__header
      h2.service__title.service__title--second.service__title--none
        | We are providing best business service.
      h2.service__title.service__title--second.service__title--mobile
        | We take care customers our all expert here.
      p.service__text
        | Problems trying to resolve the conflict between
        | the two major realms of Classical
        | physics: Newtonian mechanics
    .service__content
      .service__video
        img.service__poster(src="images/indicorp/poster-video.jpg", alt="Poster")
        button.service__button-play.js__button-play(type='button')
          img.service__play-img(src="images/indicorp/play.svg", alt="Play")
        iframe.service__content-video(src="https://www.youtube.com/embed/wnTZyvOs1-k?", 
                                      frameborder="0",
                                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                                      allowfullscreen)
      .service__content-box
        h2.service__content-title.service__title--second
          | Most trusted in our field
        p.service__content-text
          | Most calendars are designed for teams. Slate is designed for
          | freelancers who want a simple way to plan their schedule.
        .service__item 
          img.service__content-img(src="images/indicorp/people-fox.svg", alt="People")
          .service__wrapper
            h5.service__item-title the quick fox jumps over the lazy dog
            p.service__item-text Things on a very small scale ...
        .service__item 
          img.service__content-img(src="images/indicorp/speed-fox.svg", alt="Speed Fox")
          .service__wrapper
            h5.service__item-title the quick fox jumps over the lazy dog
            p.service__item-text Things on a very small scale ...