
.home 
  background: $color-background url('./main-bg.jpg') no-repeat top
  background-size: cover
@media (max-width: 991px)
  .home 
    background: none
@media (max-width: 420px) 
  .home 
    background: url('./main-mobile-bg.jpg')
