extends /layout/app

block intro
  include ./empower/index
block main
  include ./choose/index
  include ./advice/index
  include ./service/index
  include ./clients/index
  include ./newsletter/index
  include ./touch/index
  include ./consulting/index