section.empower
  .container 
    .empower__content
      h1.empower__title EMPOWER YOUR&nbsp;BUSINESS
      p.empower__text We know how large objects will act, but things on a small scale.
      p.empower__text--mobile 
        | We know how large objects&nbsp;will&nbsp;act, 
        | but things on&nbsp;a&nbsp;small scale just do 
        | not&nbsp;act&nbsp;that way.
      a.button.button--orange(href="#")  Get Quote Now
      a.button.button--transparent(href="#") Learn More
    .empower__cards 
      .empower__card
        img.empower__card-img(src="images/indicorp/case-card.svg", alt="Case")
        h3.empower__card-title Digital Marketing
        p.empower__card-text We focus on ergonomics and meeting you where you work.
      .empower__card
        img.empower__card-img(src="images/indicorp/firms-card.svg", alt="Firms")
        h3.empower__card-title.empower__card-title--none National top 50&nbsp;firms
        h3.empower__card-title--mobile Web Development
        p.empower__card-text Just type what's on your mind and we'll get you there.
      .empower__card.empower__card--choosen
        img.empower__card-img(src="images/indicorp/marketing-card.svg", alt="Marketing")
        h3.empower__card-title Digital Marketing
        p.empower__card-text the quick fox jumps over the lazy dog