section.empower
  .container 
    .empower__content
      h1.empower__title.wow.fadeInUp(data-wow-delay="2s") EMPOWER YOUR&nbsp;BUSINESS
      p.empower__text.wow.fadeInUp(data-wow-delay="2.4s") We know how large objects will act, but things on a small scale.
      p.empower__text--mobile.wow.fadeInUp(data-wow-delay="2.4s") 
        | We know how large objects&nbsp;will&nbsp;act, 
        | but things on&nbsp;a&nbsp;small scale just do 
        | not&nbsp;act&nbsp;that way.
      a.button.button--orange(href="#").wow.fadeInUp(data-wow-delay="2.8s")  Get Quote Now
      a.button.button--transparent(href="#").wow.fadeInUp(data-wow-delay="3s") Learn More
    .empower__cards 
      .empower__card.wow.fadeInUp(data-wow-delay="3.5s")
        img.empower__card-img(src="images/indicorp/case-card.svg", alt="Case")
        h3.empower__card-title Digital Marketing
        p.empower__card-text We focus on ergonomics and meeting you where you work.
      .empower__card.wow.fadeInUp(data-wow-delay="3.8s")
        img.empower__card-img(src="images/indicorp/firms-card.svg", alt="Firms")
        h3.empower__card-title.empower__card-title--none National top 50&nbsp;firms
        h3.empower__card-title--mobile Web Development
        p.empower__card-text Just type what's on your mind and we'll get you there.
      .empower__card.empower__card--choosen.wow.fadeInUp(data-wow-delay="4.1s")
        img.empower__card-img(src="images/indicorp/marketing-card.svg", alt="Marketing")
        h3.empower__card-title Digital Marketing
        p.empower__card-text the quick fox jumps over the lazy dog