.empower 
  margin-bottom: 131px
  padding-top: 80px

.empower__content 
  max-width: 510px
  margin-bottom: 80px
  letter-spacing: 0.2px

.empower__title 
  margin-bottom: 33px
  color: $color-text-base
  font-weight: $font-weight-extra-bold
  font-size: 58px
  line-height: 1.38

.empower__text 
  padding-right: 133px
  margin-bottom: 35px
  color: $color-second
  font-weight: $font-weight-medium
  font-size: 20px

.empower__text--mobile 
  display: none;

.getquote__btn 
  display: inline-block
  padding: 10px 36px
  background-color: #ffa62b
  color: #fff
  font-weight: $font-weight-bold
  line-height: 2
  border-radius: 37px
  text-decoration: none

.more__btn 
  display: inline-block
  margin-left: 8px
  padding: 10px 36px
  border: 1px solid #00a0c1
  border-radius: 37px
  font-weight: $font-weight-bold
  line-height: 2
  color: #00a0c1
  text-decoration: none

.empower__cards 
  display: flex
  margin-right: -30px

.empower__card 
  width: calc(33.33% - 30px)
  margin: 0px 30px -19px 0px
  padding: 35px 20px 35px 40px
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07)

.empower__card--choosen 
  background-color: #00a0c1

.empower__card--choosen .empower__card-title 
  color: #fff

.empower__card--choosen .empower__card-text 
  color: #fff

.empower__card-img 
  margin: 0px 0px 6px 0px

.empower__card-title 
  margin: 0px 0px 8px 0px
  color: $color-text-base
  font-weight: $font-weight-bold
  font-size: 24px
  line-height: 1.35
  letter-spacing: 0.1px

.empower__card-title--mobile 
  display: none

.empower__card-text 
  margin: 0
  color: $color-second
  font-weight: $font-weight-medium
  letter-spacing: 0.2px

@media (max-width: 1280px) 
  .empower__card 
    margin: 0px 15px -19px 0px
    padding: 15px 30px

@media (max-width: 805px) 
  .empower 
    margin-bottom: 0
    padding-bottom: 169px

  .empower__cards 
    flex-wrap: wrap
    margin-right: 0
  
  .empower__card 
    width: 97%
    padding: 35px 46px 35px 40px
    margin-bottom: 30px
    margin-right: 0
  
  .empower__card-title--none 
    display: none
  
  .empower__card-title--mobile 
    display: block
    margin: 0px 0px 8px 0px
    color: $color-text-base
    font-weight: $font-weight-bold
    font-size: 24px
    line-height: 1.35
    letter-spacing: 0.1px

@media (max-width: 640px) 
  .empower__content 
    display: flex
    flex-direction: column
    align-items: center
    max-width: 333px

  .empower__title 
    font-weight: $font-weight-bold
    font-size: 40px
    line-height: 1.45
    text-align: center

  .empower__text 
    display: none
  
  .empower__text--mobile 
    display: block
    margin-top: 0
    margin-bottom: 40px
    color: $color-second
    font-weight: 500
    font-size: 20px
    text-align: center
  
  .empower__title 
    margin-bottom: 40px
  
  .getquote__btn 
    margin-bottom: 25px
  
  