.clients 
  padding: 41px 0px 140px 0px
  background-color: $color-background

.clients__brands 
  display: flex
  align-items: center

.clients__brands-img 
  margin-right: 70px

.clients__brands--mobile 
  display: none

@media (max-width: 1280px) 
  .clients__brands 
    flex-wrap: wrap
    justify-content: center
  
  .clients__brands-img 
    margin: 0 30px 0 0
  

@media (max-width: 991px) 
  .clients__brands-img 
    margin: 20px 100px 0 0
  

@media (max-width: 640px) 
  .clients 
    padding-top: 61px
    padding-bottom: 0
  
  .clients__brands 
    flex-direction: column
    align-items: center
    justify-content: center
  
  .clients__brands-img 
    margin-top: 0
    margin-right: 0
    margin-bottom: 60px
  
  .clients__brands--none 
    display: none
  
  .clients__brands--mobile 
    display: flex
    padding: 21px 0
  
