.clients 
  padding: 41px 0px 140px 0px
  background-color: $color-background

  +max-w($laptop-md)
    padding-top: 61px

.clients__brands 
  display: flex
  align-items: center
  
  +max-w($laptop-md)
    flex-wrap: wrap
    justify-content: center

  +max-w($mobile-lg)
    flex-direction: column
    align-items: center
    justify-content: center

.clients__brands-img
  max-width: 153px
  max-height: 72px
  margin-right: 70px

  +max-w($laptop-md)
    margin-bottom: 30px

  +max-w($tablet)
    margin: 20px 100px 0 0

  +max-w($mobile-lg)
    margin-top: 0
    margin-right: 0
    margin-bottom: 70px
