section.clients
  .container
    .clients__brands
      picture.clients__brands-img.wow.bounceInLeft(data-wow-delay="1.1s")
        source(srcset="images/indicorp/brand-hooli-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brand-hooli.svg", alt="Hooli")
      picture.clients__brands-img.wow.bounceInLeft(data-wow-delay="0.8s")
        source(srcset="images/indicorp/brand-lyft-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brands-lyft.svg", alt="Lyft")
      picture.clients__brands-img.wow.bounceInLeft(data-wow-delay="0.5s")
        source(srcset="images/indicorp/brands-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brands.svg", alt="Brand")
      picture.clients__brands-img.wow.bounceInRight(data-wow-delay="0.5s")
        source(srcset="images/indicorp/brand-stripe-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brands-stripe.svg", alt="Stripe")
      picture.clients__brands-img.wow.bounceInRight(data-wow-delay="0.8s")
        source(srcset="images/indicorp/brand-aws-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brands-aws.svg", alt="Aws")
      picture.clients__brands-img.wow.bounceInRight(data-wow-delay="1.1s")
        source(srcset="images/indicorp/brand-mobile.svg", media="(max-width: 768px)" )
        img(src="images/indicorp/brand.svg", alt="Brand")






