section.clients
  .container
    .clients__brands.clients__brands--none
      img.clients__brands-img(src="images/indicorp/brand-hooli.svg", alt="Hooli")
      img.clients__brands-img(src="images/indicorp/brands-lyft.svg", alt="Lyft")
      img.clients__brands-img(src="images/indicorp/brands.svg", alt="Brand")
      img.clients__brands-img(src="images/indicorp/brands-stripe.svg", alt="Stripe")
      img.clients__brands-img(src="images/indicorp/brands-aws.svg", alt="Aws")
      img.clients__brands-img(src="images/indicorp/brand.svg", alt="Brand")
    .clients__brands.clients__brands--mobile
      img.clients__brands-img(src="images/indicorp/brand-hooli-mobile.svg", alt="Hooli")
      img.clients__brands-img(src="images/indicorp/brand-lyft-mobile.svg", alt="Lyft")
      img.clients__brands-img(src="images/indicorp/brands-mobile.svg", alt="Brand")
      img.clients__brands-img(src="images/indicorp/brand-stripe-mobile.svg", alt="Stripe")
      img.clients__brands-img(src="images/indicorp/brand-aws-mobile.svg", alt="Aws")
      img.clients__brands-img(src="images/indicorp/brand-mobile.svg", alt="Brand")