section.newsletter
  .container
    .newsletter__wrapper
      .newsletter__content
        h3.newsletter__title Subscribe For Latest Newsletter
        form.newsletter__form(action="#" method="method")
          input.newsletter__input(type="email", placeholder="Your Email")
          input.newsletter__btn(type="submit", value="Subscribe")