.newsletter 
  background-color: $color-text-base
  padding: 57px 0px 20px 0px

  +max-w($mobile-lg)
    background-color: #16697a
    padding: 0

.newsletter__wrapper 
  padding: 0 32px

.newsletter__content 
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: -124px
  padding: 30px 40px 30px 50px
  border-radius: 2px
  background-color: #16697a

  +max-w($mobile-lg)
    flex-direction: column
    margin: 0

  +max-w($mobile-sm)
    padding: 34px 10px 30px 8px
    text-align: center

.newsletter__title 
  max-width: 266px
  margin: 0
  font-weight: $font-weight-bold
  font-size: 24px
  line-height: 1.35
  letter-spacing: 0.1px
  color: #ffffff

  +max-w($mobile-lg)
    margin: 0 0 30px 0

.newsletter__form 
  position: relative

.newsletter__input 
  margin: 0
  padding: 15px 225px 15px 20px
  border: 1px solid #e6e6e6
  border-radius: 5px
  font-family: inherit
  line-height: 2
  letter-spacing: 0.2px
  color: $color-second

  +max-w($mobile-md)
    max-width: 337px
    padding: 12px 122px 15px 20px

  +max-w($mobile-xs)
    max-width: 300px

.newsletter__button--orange
  position: absolute
  right: 1px
  max-width: 450px
  padding: 15px 25px
  margin: 0
  border: 1px solid #e6e6e6
  border-radius: 0px 5px 5px 0px
  font-weight: $font-weight-medium
  letter-spacing: 0.2px
  background-color: #ffa62b

  +max-w($mobile-md)
    padding: 13px 27px;
