section.consulting
  .container
    .consulting__content
      .consulting__header
        h3.consulting__title Consulting&nbsp;Agency For Your Business
        p.consulting__text the quick fox jumps over the&nbsp;lazy&nbsp;dog
      a.consulting__submit(href="#") Contact Us 
