.consulting 
  padding: 38px 0
  background-color: #fff

  +max-w($mobile-sm)
    padding-top: 0
    padding-bottom: 0

.consulting__header

  +max-w($tablet)
    margin: 0 0 47px

.consulting__content 
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 13px

  +max-w($tablet)
    flex-direction: column
    align-items: start

  +max-w($mobile-sm)
    padding: 41px 50px;

.consulting__title 
  margin-bottom: 10px
  padding-top: 3px
  color: $color-text-base
  font-weight: $font-weight-bold
  font-size: 24px
  line-height: 1.35
  letter-spacing: 0.1px

  +max-w($mobile-sm)
    padding-top: 0

.consulting__text 
  margin: 0
  font-weight: $font-weight-medium
  letter-spacing: 0.2px
  color: $color-second

.button--orange 
  padding: 15px 40px
  letter-spacing: 0.2px
  border-radius: 5px
  background-color: #ffa62b
  color: #ffffff
