section.advice
  .container 
    .advice__content.wow.slideInDown(data-wow-delay="0.5s")
      h2.advice__title.advice__title--second Practice Advice
      p.advice__text
        |  Problems trying to resolve the&nbsp;conflict&nbsp;between 
        | the two&nbsp;major&nbsp;realms of Classical 
        | physics:&nbsp;Newtonian mechanics
    .advice__cards 
      .advice__card.wow.flipInX(data-wow-delay="0.2s")
        .advice__card-content
          h5.advice__card-title A single source of truth
          p.advice__card-text 
            | Newton thought that light was made 
            | up of particles, but then
            | it was discovered
        img.advice__card-img(src="images/indicorp/single-source.jpg", alt="Single Source")
      .advice__card.wow.flipInX(data-wow-delay="0.4s") 
        .advice__card-content
          h5.advice__card-title Fastest way to organize
          p.advice__card-text.advice__card-text--none 
            | “Quantum mechanics” is the description of
            | the behaviour of matter
          p.advice__card-text--mobile
            | Newton thought that light was made 
            | up of particles, but then
            | it was discovered
        img.advice__card-img(src="images/indicorp/fastest-way.jpg", alt="Fastest Way")
      .advice__card.wow.flipInX(data-wow-delay="0.6s") 
        .advice__card-content
          h5.advice__card-title Fastest way to take&nbsp;action
          p.advice__card-text 
            | They describe a universe consisting 
            | of bodies moving
        img.advice__card-img(src="images/indicorp/fastest-way-action.jpg", alt="Fastest way action")
      .advice__card.wow.flipInX(data-wow-delay="0.8s")
        .advice__card-content
          h5.advice__card-title Work better together
          p.advice__card-text 
            | They finally obtained a consistent 
            | description of the behaviour 
        img.advice__card-img(src="images/indicorp/work-better.jpg", alt="Work better")