.choose 
  padding: 80px 0px
  background-color: $color-background

  +max-w($mobile-sm)
    padding-top: 100px
    padding-bottom: 70px

.choose__content 
  max-width: 511px
  margin: 0 auto 50px
  text-align: center
  
  +max-w($mobile-sm)
    margin-bottom: 94px

.choose__title 
  margin-bottom: 7px

.choose__title--second 
  color: $color-text-base
  font-weight: $font-weight-bold
  font-size: 40px
  line-height: 1.45
  letter-spacing: 0.2px

.choose__text 
  color: $color-second
  font-weight: $font-weight-medium
  letter-spacing: 0.2px
  text-align: center

.choose__cards 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238px, 1fr))
  column-gap: 30px

  +max-w($laptop-md)
    row-gap: 30px;

.choose__card 
  padding: 27px 32px
  background-color: #fff
  text-align: center

  +max-w($mobile-md)
    width: 230px
    justify-self: center
    margin-right: 0  

  +max-w($mobile-sm)
    padding: 35px 21px

.choose__card-img 
  margin: 0px 0px 10px 0px

.choose__card-title 
  color: $color-text-base
  margin-bottom: 10px
  font-weight: $font-weight-bold
  font-size: 40px
  line-height: 1.45
  letter-spacing: 0.2px

.choose__card-description 
  color: $color-second
  font-weight: $font-weight-bold
  font-size: 16px
  letter-spacing: 0.1px 
