section.choose
  .container
    .choose__content.wow.fadeInDown(data-wow-delay="0.5s")
      h2.choose__title.title.title--uppercase.wow.animate__bounceInUp why choose&nbsp;us
      p.choose__text.text
        | Problems trying to resolve the conflict between 
        | the two major realms of Classical physics: 
        | Newtonian mechanics
    .choose__cards
      .choose__card.wow.fadeInDown(data-wow-delay="0.8s")
        img.choose__card-img(src="images/indicorp/people.svg", alt="People")
        h2.choose__card-title 3K
        span.choose__card-description CASES DONE
      .choose__card.wow.fadeInDown(data-wow-delay="0.6s")
        img.choose__card-img(src="images/indicorp/customer.svg", alt="Customers")
        h2.choose__card-title 45
        span.choose__card-description HAPPY&nbsp;CUSTOMERS
      .choose__card.wow.fadeInDown(data-wow-delay="0.4s")
        img.choose__card-img(src="images/indicorp/awardwinning.svg", alt="Award Winning")
        h2.choose__card-title 12+
        span.choose__card-description AWARD WINNING
      .choose__card.wow.fadeInDown(data-wow-delay="0.2s")
        img.choose__card-img(src="images/indicorp/case-card.svg", alt="Case")
        h2.choose__card-title 1.5K
        span.choose__card-description CASES DONE