footer.footer
  .container
    .footer__content
      .footer__links
        .footer__column
          h5.footer__column-header Company&nbsp;Info
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") About Us
            li.footer__item
              a.footer__link(href="#") Carrier
            li.footer__item
              a.footer__link(href="#") We&nbsp;are&nbsp;hiring
            li.footer__item
              a.footer__link(href="#") Blog
        .footer__column
          h5.footer__column-header Legal
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") About Us
            li.footer__item
              a.footer__link(href="#") Carrier
            li.footer__item
              a.footer__link(href="#") We&nbsp;are&nbsp;hiring
            li.footer__item
              a.footer__link(href="#") Blog
        .footer__column
          h5.footer__column-header Features
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") Business&nbsp;Marketing
            li.footer__item
              a.footer__link(href="#") User&nbsp;Analytic
            li.footer__item
              a.footer__link(href="#") Live&nbsp;Chat
            li.footer__item
              a.footer__link(href="#") Unlimited&nbsp;Support
        .footer__column
          h5.footer__column-header Resources
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") IOS & Android
            li.footer__item
              a.footer__link(href="#") Watch a Demo
            li.footer__item
              a.footer__link(href="#") Customers
            li.footer__item
              a.footer__link(href="#") API
      .footer__social
        .footer__column--social
          h5.footer__column-header Get In Touch
          ul.footer__list
            li.footer__item
              a.footer__link(href="#")
                img.footer__content-img(src="images/indicorp/phone-footer.svg", alt="Phone")
                | (480) 555-0103
            li.footer__item
              a.footer__link(href="#")
                img.footer__content-img(src="images/indicorp/label-footer.png", alt="Label")
                | 4517 Washington Ave.
            li.footer__item
              a.footer__link(href="#")
                img.footer__content-img(src="images/indicorp/letter-footer.svg", alt="Letter")
                | debra.holt@example.com
  .copyright
    .container
      .copyright__content
        span.copyright__title Made With Love By Figmaland All&nbsp;Right Reserved
        .copyright__social
          a.copyright__social-link(href="#")
            img.copyright__social-img(src="images/indicorp/facebook.svg", alt="Facebook")
          a.copyright__social-link(href="#")
            img.copyright__social-img(src="images/indicorp/instagram.svg", alt="Instagram")
          a.copyright__social-link(href="#")
            img.copyright__social-img(src="images/indicorp/twitter.svg", alt="Twitter")
          a.copyright__social-link(href="#")
            img.copyright__social-img(src="images/indicorp/youtube.svg", alt="Youtube")